@model BLL.App.DTO.Product

<h4>Product</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CategoryId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CategoryId)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ProductName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ProductCode)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ProductCode)
    </dd>
    <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
</dl>