@model BLL.App.DTO.Campaign


<h4>Campaign</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Discount)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Discount)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.StartTime)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.StartTime)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.EndTime)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.EndTime)
    </dd>
</dl>